body{
	background-image: url("img/lselse.png");
}

h1 {
	border: red;
	border-width: 10px;
}

.profilepic{
	max-width: 100%;
}

.margin-cards{
	margin-top: 20px;
}

.active-link{
	color: link;
}

.card {
	margin-top: 5px;
	margin-bottom: 5px;
}
