
.relative{
	position:relative; 
	width:600px;}

.maintitle{
	font-size:16px;
	font color: white; 
	color:#b92b27;}

body {
	background-image: url("../img/chanarywharfgif.gif");
	background-size: cover;
}

.header-text{
	color:white;
	margin-top: 100px;
}



.margin-cards{
	margin-top: 20px;
}


.margin-cards 1 {
	margin-top: 300px;
}

.container{
	font color: white;
	margin-top: 10px;
	
}

.nav-link {
    display: inline-block;
    color:white;

}

.mytext {
	color: white;
	margin-top: 125px
}

.fadeIn{
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}
